@mixin editorAffordance($size) {
	position:absolute;
    right:0;
    top:0;
	font-size: $size;
}

div[contenteditable] {
	position:relative;
	.editable-affordance{
    	@include editorAffordance(1em);
	}
}

h1[contenteditable] {
	position:relative;
	.editable-affordance{
    	@include editorAffordance(0.5em);
	}
}
