@import 'colors';
@import 'animation';

@mixin editorAffordance($size, $pos, $glow) {
	position: absolute;
	left: $pos;
	top: $pos;
	z-index: 900;
	color: $glow;
	font-size: $size;
	border-radius: 15px;
	padding: 5px;
}

i.fa-check {
	color:green;
}

[contenteditable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	position:relative;
}

div[contenteditable] {
	.editable-affordance{
    	@include editorAffordance(1em, 0, $complementaryDarkTwo);
    	@include animation('darkpulse 2.5s infinite ease-in');
	}
}

h1[contenteditable] {
	.editable-affordance{
    	@include editorAffordance(0.5em, -0.5em, gold);
    	@include animation('goldpulse 2.5s infinite ease-in');
	}
}