	<div class="col-md-4">
    <div class="panel panel-info">
		  <div class="panel-heading">
        <h1 {{elementShouldBeEditable}}>
          {{title}}
        </h1>
      </div>
      <div class="panel-body" {{elementShouldBeEditable}}>
  		  {{body}}
      </div>
    </div>
  </div>