<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Omniclopse</title>

    <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="container">
	<header>
		<div class="row">
            <div class="col-xs-3">
    			<a href="/">
    				<img src="/images/brand.jpg" id="brand" alt ="brand"/>
    			</a>
            </div>
            <div class="col-xs-3 col-xs-offset-6">
			     <h1 class="pull-right">Omniclopse</h1>
            </div>
        </div>
		<div class="row navbar" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active">
                	<a href="#" data-toggle="collapse" data-target=".navbar-collapse">Home</a>
                </li>
                <li>
                	<a href="#about" data-toggle="collapse" data-target=".navbar-collapse">About</a>
                </li>
                <li>
                	<a href="#contact" data-toggle="collapse" data-target=".navbar-collapse">Contact</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                    	<a href="#" data-toggle="collapse" data-target=".navbar-collapse">Action</a>
                    </li>
                    <li>
                    	<a href="#" data-toggle="collapse" data-target=".navbar-collapse">Another action</a>
                    </li>
                    <li>
                    	<a href="#" data-toggle="collapse" data-target=".navbar-collapse">Something else here</a>
                    	</li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li>
                    	<a href="#" data-toggle="collapse" data-target=".navbar-collapse">Separated link</a>
                    </li>
                    <li>
                    	<a href="#" data-toggle="collapse" data-target=".navbar-collapse">One more separated link</a>
                    </li>
                  </ul>
                </li>
                <li class="pull-right">
                    {{#if user}}
                        <a href="/logout">Logged in as {{user}} - Log out</a>
                    {{else}}
                    <a href="/login">Login</a>
                    {{/if}}
                </li>
              </ul>
            </div>
          </div>
		</div>
	</header>
    <section id="main">
    <div class="row">
        <div id="messageHolder" class="col-xs-12"></div>
    </div> 
	<div class="row">
    	{{{body}}}
    </div>
	</section>

    <footer class="row">
    </footer>

    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    {{#if user}}
        <script src="/libs/ckeditor/ckeditor.js"></script>
    {{/if}}
    {{{block "scripts"}}}
</body>
</html>