	<% if (locals.flash) {%>
		<div class="alert alert-danger">
			<%=flash%>
		</div>
	<% } %>
	
	<form class="form-horizontal" role="form" action="/login" method="post">
	  <div class="form-group">
	    <label for="username" class="col-sm-2 control-label">Username: </label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" name="username" placeholder="Username">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="password" class="col-sm-2 control-label">Password: </label>
	    <div class="col-sm-8">
	      <input type="password" class="form-control" name="password" placeholder="Password">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-8">
	      <button type="submit" class="btn btn-primary">Sign in</button>
	    </div>
	  </div>
	</form>