div[contenteditable] {
  position: relative; }
  div[contenteditable] .editable-affordance {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1em; }

h1[contenteditable] {
  position: relative; }
  h1[contenteditable] .editable-affordance {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.5em; }
